@font-face {
  font-family: 'PanelMono-Italic';
  src: url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-italic.eot');
  src: local('PanelMono-Italic'), local('Panel Mono Italic'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-italic.eot?#iefix') format('embedded-opentype'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-italic.woff2') format('woff2'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-italic.woff') format('woff'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-italic.svg#panelmono-italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-alternates: 'salt' 1,'salt' 2;
  font-feature-settings: 'liga', 'ss01', 'ss02;
  -moz-font-feature-settings: 'ss01', 'ss02';
  -webkit-font-feature-settings: 'ss01', 'ss02';
  font-display: swap;
}

@font-face {
  font-family: 'PanelMono-LightItalic';
  src:url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-lightitalic.eot');
  src:local('PanelMono-LightItalic'), local('Panel Mono Light Italic'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-lightitalic.eot?#iefix') format('embedded-opentype'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-lightitalic.woff2') format('woff2'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-lightitalic.woff') format('woff'),
    url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/panelmono/panelmono-lightitalic.svg#panelmono-lightitalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-alternates: 'salt' 1,'salt' 2;
  font-feature-settings: 'liga', 'ss01', 'ss02;
  -moz-font-feature-settings: 'ss01', 'ss02';
  -webkit-font-feature-settings: 'ss01', 'ss02';
  font-display: swap;
}

.panelmonolightitalic {
    font-family: 'Panel Mono';
    font-weight: 300;
    font-style: italic;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    font-variant-alternates: 'salt' 1,'salt' 2;
    font-feature-settings: 'liga', 'ss01', 'ss02;
    -moz-font-feature-settings: 'ss01', 'ss02';
    -webkit-font-feature-settings: 'ss01', 'ss02';
}
.panelmonoitalic {
    font-family: 'Panel Mono';
    font-weight: normal;
    font-style: italic;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    font-variant-alternates: 'salt' 1,'salt' 2;
    font-feature-settings: 'liga', 'ss01', 'ss02;
    -moz-font-feature-settings: 'ss01', 'ss02';
    -webkit-font-feature-settings: 'ss01', 'ss02';
}
