/*·•·•·•·•·•·•·•·•·•·• font-style:italic; */

/* CartographCF-ThinItalic */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-ThinItalic'), local('Cartograph CF Thin Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ThinItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ThinItalic.woff') format('woff');
	font-style:italic;
	font-weight:100;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}


/* CartographCF-ExtraLightItalic */
@font-face {
	/*font-family:'Cartograph CF Extra';*/
	font-family:'Cartograph CF';
	src:local('CartographCF-ExtraLightItalic'), local('Cartograph CF Extra Light Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLightItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLightItalic.woff') format('woff');
	font-style:italic;
	font-weight:200;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-LightItalic */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-LightItalic'), local('Cartograph CF Light Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-LightItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-LightItalic.woff') format('woff');
	font-style:italic;
	font-weight:300;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-RegularItalic */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-RegularItalic'), local('Cartograph CF Regular Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-RegularItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-RegularItalic.woff') format('woff');
	font-style:italic;
	font-weight:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-DemiBoldItalic */
@font-face {
	/*font-family:'Cartograph CF Demi';*/
	font-family:'Cartograph CF';
	src:local('CartographCF-DemiBoldItalic'), local('Cartograph CF Demi Bold Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBoldItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBoldItalic.woff') format('woff');
	font-style:italic;
	font-weight:600;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-BoldItalic */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-BoldItalic'), local('Cartograph CF Bold Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-BoldItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-BoldItalic.woff') format('woff');
	font-style:italic;
	font-weight:bold;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-ExtraBoldItalic */
@font-face {
	font-family:'Cartograph CF Extra';
	src:local('CartographCF-ExtraBoldItalic'), local('Cartograph CF Extra Bold Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBoldItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBoldItalic.woff') format('woff');
	font-style:italic;
	font-weight:800;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-HeavyItalic */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-HeavyItalic'), local('Cartograph CF Heavy Italic'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-HeavyItalic.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-HeavyItalic.woff') format('woff');
	font-style:italic;
	font-weight:900;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}

/*·•·•·•·•·•·•·•·•·•·• font-style:normal; */

/* CartographCF-Thin */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-Thin'), local('Cartograph CF Thin'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Thin.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Thin.woff') format('woff');
	font-style:normal;
	font-weight:100;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-ExtraLight */
@font-face {
	/*font-family:'Cartograph CF Extra';*/
	font-family:'Cartograph CF';
	src:local('CartographCF-ExtraLight'), local('Cartograph CF Extra Light'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLight.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraLight.woff') format('woff');
	font-style:normal;
	font-weight:200;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-Light */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-Light'), local('Cartograph CF Light'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Light.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Light.woff') format('woff');
	font-style:normal;
	font-weight:300;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-Regular */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-Regular'), local('Cartograph CF Regular'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Regular.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Regular.woff') format('woff');
	font-style:normal;
	font-weight:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-DemiBold */
@font-face {
	/*font-family:'Cartograph CF Demi';*/
	font-family:'Cartograph CF';
	src:local('CartographCF-DemiBold'), local('Cartograph CF Demi Bold'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBold.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-DemiBold.woff') format('woff');
	font-style:normal;
	font-weight:600;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-Bold */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-Bold'), local('Cartograph CF Bold'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Bold.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Bold.woff') format('woff');
	font-style:normal;
	font-weight:bold;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-ExtraBold */
@font-face {
	/*font-family:'Cartograph CF Extra';*/
	font-family:'Cartograph CF';
	src:local('CartographCF-ExtraBold'), local('Cartograph CF Extra Bold'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBold.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-ExtraBold.woff') format('woff');
	font-style:normal;
	font-weight:800;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}
/* CartographCF-Heavy */
@font-face {
	font-family:'Cartograph CF';
	src:local('CartographCF-Heavy'), local('Cartograph CF Heavy'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Heavy.woff2') format('woff2'),url('https://github.com/erichologist/cartograph-fonts/raw/refs/heads/master/fonts-woff/CartographCF-Heavy.woff') format('woff');
	font-style:normal;
	font-weight:900;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-display:swap;
}

.cartr {
	font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
}
.carti {
	font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
}

.w1 {font-weight:100;}
.w2 {font-weight:200;}
.w3 {font-weight:300;}
.w4 {font-weight:400;}
.w5 {font-weight:500;}
.w6 {font-weight:600;}
.w7 {font-weight:700;}
.w8 {font-weight:800;}
.w9 {font-weight:900;}


crtrw1{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:100;
}
crtrw2{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:200;
}
crtrw3{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:300;
}
crtrw4{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:400;
}
crtrw5{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:500;
}
crtrw6{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:600;
}
crtrw7{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:700;
}
crtrw8{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:800;
}
crtrw9{font-family:'Cartograph CF';
	font-style:normal;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:900;
}


crtiw1{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:100;
}
crtiw2{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:200;
}
crtiw3{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:300;
}
crtiw4{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:400;
}
crtiw5{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:500;
}
crtiw6{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:600;
}
crtiw7{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:700;
}
crtiw8{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:800;
}
crtiw9{font-family:'Cartograph CF';
	font-style:italic;
	font-variant-alternates:'salt' 2, 'salt' 5;
	font-variant-ligatures:common-ligatures discretionary-ligatures;
	font-feature-settings:'liga', 'ss05', 'ss02';
	-moz-font-feature-settings:'liga', 'ss05', 'ss02';
	-webkit-font-feature-settings:'liga', 'ss05', 'ss02';
	font-weight:900;
}





/*
crtirw$2{font-family:'Cartograph CF';\n\tfont-style:normal;\n\tfont-variant-alternates:'salt' 2, 'salt' 5;\n\tfont-variant-ligatures:common-ligatures discretionary-ligatures;\n\tfont-feature-settings:'liga', 'ss05', 'ss02';\n\t-moz-font-feature-settings:'liga', 'ss05', 'ss02';\n\t-webkit-font-feature-settings:'liga', 'ss05', 'ss02';\n\tfont-weight:$1;\n}
*/





