@font-face {
    font-family: 'Cartograph CF';
    src: local('Cartograph CF Regular'), local('CartographCF-Regular'),
        url('CartographCF-Regular.woff2') format('woff2'),
        url('CartographCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cartograph CF';
    src: local('Cartograph CF Light'), local('CartographCF-Light'),
        url('CartographCF-Light.woff2') format('woff2'),
        url('CartographCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cartograph CF';
    src: local('Cartograph CF Regular Italic'), local('CartographCF-RegularItalic'),
        url('CartographCF-RegularItalic.woff2') format('woff2'),
        url('CartographCF-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cartograph CF';
    src: local('CartographCF-DemiBoldItalic'), local('Cartograph CF Demi Bold Italic'), url('CartographCF-DemiBoldItalic.woff2') format('woff2'), url('CartographCF-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cartograph CF';
    src: local('CartographCF-DemiBold'), local('CartographCF-DemiBold'),
        url('CartographCF-DemiBold.woff2') format('woff2'),
        url('CartographCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cartograph CF';
    src: local('Cartograph CF Light Italic'), local('CartographCF-LightItalic'),
        url('CartographCF-LightItalic.woff2') format('woff2'),
        url('CartographCF-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

