@font-face {
    font-family: 'Parity Sans Extra';
    src:local('Parity Sans Extra Bold'), local('ParitySansExtraBold'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansExtraBold.woff2') format('woff2'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Parity Sans';
    src:local('Parity Sans Medium'), local('ParitySansMedium'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansMedium.woff2') format('woff2'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Parity Sans';
    src:local('Parity Sans Regular'), local('ParitySansRegular'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansRegular.woff2') format('woff2'),url('https://github.com/erichologist/assets/raw/refs/heads/main/fonts/parity/ParitySansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.parity{ font-family: 'Parity Sans'; font-weight: normal; font-style: normal; }
.parityb{ font-family: 'Parity Sans'; font-weight: 500; font-style: normal; }
.paritym{ font-family: 'Parity Sans'; font-weight: bold; font-style: normal; }
