/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

:root {
--cy1:color-mix(in oklab, #00ff00 49%, #0000FF 51%);
--cy2:color-mix(in srgb, #00ff00 48%, #0000FF 50%);
}

code[class*="lang-"],
pre[class*="lang-"],
code[class*="language-"],
pre[class*="language-"] {
	color: #f92aad;
	/*text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;*/
	background: none;
	/*font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;*/
	font-family:'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic',  'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-RegularItalic' monospace;

	font-variant-alternates: 'salt' 2,'salt' 5;
	-moz-font-feature-settings: 'ss05', 'ss02';
	-webkit-font-feature-settings: 'ss05', 'ss02';
	font-feature-settings: 'liga', 'ss05', 'ss02';
	font-variant-ligatures: common-ligatures;
	font-weight: 300;

	
	font-size: 1em;
	font-size: 90%;

	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="lang-"], pre[class*="language-"] {
	background-color: #111114;
	border-radius: 10px;


	font-family: 'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic', 'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-LightItalic', monospace;

	font-variant-alternates: 'salt' 2,'salt' 5;
	-moz-font-feature-settings: 'ss05', 'ss02';
	-webkit-font-feature-settings: 'ss05', 'ss02';
	font-feature-settings: 'liga', 'ss05', 'ss02';
	font-variant-ligatures: common-ligatures;

	font-weight: 300;

	font-size: 70%;

	padding: 1em;
	padding: .9em .8em .9em 1em;

	margin: .5em 0;
	margin: 1em;

	overflow: auto;

}
:not(pre) > code[class*="lang-"],
pre[class*="lang-"],
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: transparent !important;
	background-color: #111114 !important;
	background-image: linear-gradient(to top, #2a2139 75%, #34294f);
	background-image: linear-gradient(to bottom, #221937, #231933);
	background-image: linear-gradient(to bottom, #22193780, #23193380);
	border-bottom: 1px solid #231933;
	background-image: linear-gradient(to bottom, #1D1630, #1E152C);
	border-bottom: 1px solid #1E152C;
	box-shadow:
      inset -2px -3px 16px rgba(33, 23, 48, 0.1),
      0px 0px 8px rgba(0, 0, 0, 0.2),
      1.5px 1px 7px rgba(0, 0, 0, 0.1);
	box-shadow:
      inset -2px -3px 16px rgba(36, 25, 52, 0.991),
      0px 0px 8px rgba(0, 0, 0, 0.2),
      1.5px 1px 7px rgba(0, 0, 0, 0.1);
	box-shadow:
      inset -2px -3px 16px rgba(33, 23, 48, 1),
      0px 0px 8px rgba(0, 0, 0, 0.1),
      1.5px 1px 7px rgba(0, 0, 0, 0.06);
}

/* Inline code */
:not(pre) > code[class*="lang-"],
:not(pre) > code[class*="language-"] {
	background: #0000;
	/*padding: .1em;
	border-radius: .3em;*/
	font-family: 'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic', 'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-LightItalic', monospace;
	font-variant-alternates: 'salt' 2,'salt' 5;
	-moz-font-feature-settings: 'ss05', 'ss02';
	-webkit-font-feature-settings: 'ss05', 'ss02';
	font-feature-settings: 'liga', 'ss05', 'ss02';
	font-variant-ligatures: common-ligatures;
	font-weight: 300;
/*	white-space: normal;*/
}
code[class*="language-"], code[class*="lang-"]  {
	background: #0000;
	/*color: #00FBD0;*/
	font-family: 'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic', 'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-LightItalic', monospace;
	font-variant-alternates: 'salt' 2,'salt' 5;
	-moz-font-feature-settings: 'ss05', 'ss02';
	-webkit-font-feature-settings: 'ss05', 'ss02';
	font-feature-settings: 'liga', 'ss05', 'ss02';
	font-variant-ligatures: common-ligatures;
	font-weight: 300;
}
.token.keyword {
	color: #00FBD0;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

/*	color: #999;*/
.token.punctuation {
	color: #DDFF05;
}
.token.namespace {
	opacity: .7;
	color: #92577E;
}



.token.selector {
	color: #ff02be;
}

.token.entity,
.token.inserted {
/*	color: yellowgreen;*/
	color: #B5E108;
}

.token.url {
	color: #00ccff;
}

.lang-json .token.string,
.language-json .token.string,
.lang-JSON .token.string,
.language-JSON .token.string {
	color: #00D1C9;
}


.lang-JS .token.string,
.language-JS .token.string,
.lang-js .token.string,
.language-js .token.string,
.lang-javascript .token.string,
.language-javascript .token.string,
.lang-JavaScript .token.string,
.language-JavaScript .token.string {
	color: #00ffaa;
}

.lang-css .token.string
.language-css .token.string {
	color: #EBD567;
}

.token.variable {
	color: #B5E108;
}





.token.regex {
	color: #B5E108;

}
.token.important,
.token.bold {
			font-family: 'CartographCF-DemiBoldItalic','CartographCFNerdFontComplete-DemiBold', 'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-RegularItalic', 'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic', monospace;
			font-variant-alternates: 'ss02', 'ss05' !important;
			font-feature-settings: 'liga', 'ss05', 'ss02' !important;
			-moz-font-feature-settings: 'ss05', 'ss02' !important;
			-webkit-font-feature-settings: 'ss05', 'ss02' !important;
}

.token.italic {
	color: #EE2E6F;
			font-family: 'CartographCF-RegularItalic', 'CartographCFNerdFontComplete-RegularItalic', 'CartographCF-LightItalic', 'CartographCFNerdFontComplete-LightItalic', monospace;
			font-variant-alternates: 'salt' 2,'salt' 5;
			-moz-font-feature-settings: 'ss05', 'ss02';
			-webkit-font-feature-settings: 'ss05', 'ss02';
			font-feature-settings: 'liga', 'ss05', 'ss02';
			font-variant-ligatures: common-ligatures;
			font-weight: normal !important;
}

/*	color: #00ccff;*/
.token.boolean,
.token.constant {
	color: #cdcdcd;
}


/*	color: yellow;*/
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: #D5005F;
	color: #A34EED;
}
.token.tag {
	color: #a4079c;
	color: #C408BB;
}

.token.entity {
	cursor: help;
}
.token.deleted {
	color: red;
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8e8e8e;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: #e2777a;
}


.token.selector {
	color: #72f1b8;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #257c5575, 0 0 8px #21272475;
}

/*	color: #00ccff;*/
.token.property {
	color: #cdcdcd;
	/*text-shadow: 0 0 2px #100c0f, 0 0 8px #72f1b875, 0 0 8px #257c5575, 0 0 35px #21272475;*/
	text-shadow: 0 0 2px #100c0f, 0 0 4px #72f1b875, 0 0 8px #257c55;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: #fdfdfd;
	text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.token.class-name {
	color: #fff5f6;
	text-shadow: 0 0 2px #000, 0 0 8px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 10px #fc1f2c75;
}

.token.number {
	color: #AE81FF;
}
.token.symbol {
	color: #c14bff;
}
.token.constant,
.token.symbol {
	color: #f92aad;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 8px #fff3;
}

.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: #F4EEE4;
	text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

.token.attr-value {
	color: #837CFF;
}

.token.atrule {
	color: #F4EEE4;
	text-shadow: 0 0 2px #393a33, 0 0 8px #ae81ff75, 0 0 2px #ae81ff75;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #f87c32;
}


.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}



.token.bold {
	color: #5972FF;
}	
.token.important {
	color: #FF3853;
	color: #F4EEE4;
	text-shadow: 0 0 2px #393a33, 0 0 8px #FF385375, 0 0 2px #FF385375;
}	

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

.white {
	color:#AAA;
	text-shadow:0 0 0 #fff, 0 0 1px #fff4, 0 -1px 2px #fff4, 0 1px 2px #fff4;
}
.pink {
	color:#FF005E;
	text-shadow: 0 0 1px #fff4, 0 0 2px #0F07ff60, 0 -.1px 3px #dc078e60, 0 0 4px #FF057B60, 0 -1px 4px #FF214E60, 0 1px 4px #FF005E60;
}
.blue {
	color: #00D9E0CC;
	text-shadow: 0 0 0 #fff, 0 0 5px #0F07ff60, 0 -.1px 3.5px #00E95260, 0 0 8px #5E60CE60, 0 -1px 9px #0F07ff60, 0 1px 8px #3457D560, 0 0 4px #00D9E060;
}
.copy-to-clipboard-button,
.copy-to-clipboard,
button.copy-to-clipboard-button,
button.copy-to-clipboard {
	background:#18181B;
	background:#1A1A1E;
	background:#1C1C21;
	background:#1E1E24;
	background:#202027;
	border-color:#00000000 !important;
	border: 1px solid #00000000 !important;
	font-size:.875em;
	padding:.5em .75em;
	margin-top: -1em;
	margin-bottom: 1em;
	line-height:1.4;
	border-radius:.5em;
	cursor:pointer;
	box-shadow:
		2px -2px 2.5px hsla(223,20%,7%,.13),
		-3px -2px 3.5px hsla(223,20%,5%,.09),
		0px 0px 4.5px hsla(223,20%,0%,.08),
		-3px 2px 6px hsla(223,20%,35%,.08);
	font-family:'Monotalic-NarrowLight','VictorMono-BoldItalic','SuburbanOT-Light';
	color:#00D9E0CC;
	text-shadow:0 0 0 #fff, 0 1px 3px #0F07ff60, 0 -1px 3px #00E95260, 0 1px 4px #5E60CE60, 0 -1px 4px #0F07ff60, 0 1px 5px #3457D560, 0 -1px 5px #00D9E060;
}
.copy-to-clipboard:hover, .copy-to-clipboard:after,
button.copy-to-clipboard-button:hover, button.copy-to-clipboard-button:after,
button.copy-to-clipboard:hover, button.copy-to-clipboard:after,
button:hover, button:after {
	background:#151517;
	background:#18181B;
	background:#151517;
	border: 1px solid #0000000p !important;
	border-color:#00000000 !important;
	font-size:.875em;
	padding:.5em .75em;
	margin-top: -1em;
	margin-bottom: 1em;
	line-height:1.4;
	border-radius:.5em;
	cursor:pointer;
	box-shadow:
		inset 3px 2px 9px hsla(223,10%,35%,.1),
		inset -3px -2px 9px hsla(223,10%,0%,.41),
		inset 1.5px 1px 7px hsla(223,10%,16%,.1),
		inset -2px -2px 9px hsla(223,10%,0%,.33),
		inset -2px -2px 2.5px hsla(223,10%,0%,.33),
		-1px 1.2px 6px hsla(223,20%,3%,.06);

}

.code-toolbar > .toolbar > .toolbar-item > span {
	color: #0000;
}